<div class="container-fluid">
    <h2 class="text-center">DROP YOUR QUOTES</h2>
    <hr>

    <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
        <div class="form-group">
  
            <label for="name">Author</label>
            <input type="text" required class="form-control" id="name" [(ngModel)]="newQuote.name" #name="ngModel" name="name">
  
  <!-- Testing to see if we get any data -->
       
        </div>
        <div class="form-group">
  
            <label for="description">Quote</label>
            <textarea class="form-control" id="description"  [(ngModel)]='newQuote.description' name="description" #description="ngModel" rows="4" required></textarea>
  
        </div>
        <div class="form-group">
  
           
            <input type='date' id="complete" required>
         
        </div>
        <button type="submit" class="btn btn-primary">submit</button>
    </form>
  </div>